/*--------------------------------------------------------------
28. Schedule
----------------------------------------------------------------*/

.schedule-content {
  .schedule-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 100px;
    padding: 30px 0 30px 15px;
    flex-wrap: wrap;
    gap: 15px;
    .schedule-box {
      max-width: 309px;
    }
    .schedule-tile {
      font-size: 20px;
      line-height: 135%;
    }
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      bottom: 0px;
      background-color: $darkwhite;
    }
    .schedule-btn {
      width: 31px;
      height: 31px;
      flex-shrink: 0;
      border-radius: 50%;
      border: 2px solid #485b60;
      &:hover {
        background-color: $brandColorTwo;
        border: none;
      }
    }
  }
}
